/* @import url('https://fonts.googleapis.com/css?family=Orbitron:400,400i'); */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/orbitron_min.woff2) format('woff2');
  }
@font-face {
    font-family: '7segment';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/7segment_min.woff2) format('woff2');
  }

:root {
    --primary-gauge-width: 400px;
    --primary-gauge-heigh: 400px;
    --linear-gauge-width: 275px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}
h1 {
    font-size: 1.8rem;
    color: white;
}
body {
    margin: 0;

    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}
.content {
    padding: 50px;
}
.gauge-cluster {
    height: 400px;
    position: relative;
}
.gauge-container {
    position: relative;

    margin-top: 10px;
    width: 100%;
    height: 100%;


}
.gauge-container-small {
    position: relative;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;

    margin-left: auto;
    margin-right: auto;

    --s: calc(var(--primary-gauge-width) * 0.5 + 25px) at; /* circle size here */
    --g: #000 99%,#0000; /* Feathered edges */
    
    -webkit-mask: /*           X    Y  */
    /*radial-gradient(var(--s) 0    90%,var(--g)), */
    /*radial-gradient(var(--s) 0    50%,var(--g)),*/
    radial-gradient(var(--s) 50%   200px,var(--g)),
    /*radial-gradient(var(--s) 120% 50%,var(--g)),*/
    /* don't touch the bottom layer*/
    linear-gradient(#000 0 0);
    -webkit-mask-position-x: center;
    -webkit-mask-composite: xor;
    mask-composite: exclude;

}
.gauge-cutout {
    -webkit-mask: /*           X    Y  */
    /*radial-gradient(var(--s) 0    90%,var(--g)), */
    /*radial-gradient(var(--s) 0    50%,var(--g)),*/
    radial-gradient(var(--s) 50%   200px,var(--g)),
    /*radial-gradient(var(--s) 120% 50%,var(--g)),*/
    /* don't touch the bottom layer*/
    linear-gradient(#000 0 0);
    -webkit-mask-position-x: center;
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    
    background-image: radial-gradient(var(--s) 50%   200px,var(--g));
}
.gauge {
    position: absolute;
    top: -11px;
    font-family: "Orbitron";
}

.gauge-linear { 
    left: -21px;
    /* -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0, 0, 0, 0))); */
    mask-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); 
}
/* Must come after .gauge-linear because css is stupid */
.gauge-reverse {
    left: calc(var(--linear-gauge-width) - 79px);
    /* -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,0)), to(rgba(0, 0, 0, 1))); */
    mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); 
    transform: rotate(180deg);
}
.gauge-primary {

    left: 0;
    right: 0;
    top: 0px;
    margin-left: auto;
    margin-right: auto;

    /* width: 420px; */

}
.gauge-row-left {
    position: relative;
    top: 11px;
    left: calc(var(--primary-gauge-width) * -1);
    background: red;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%); 
    
    width: 450px;
    height: 100px;

    margin-bottom: 33px;
    margin-left: auto;
    margin-right: auto;

}
.gauge-row-right {
    position: relative;
    top: -388px;
    left: calc(var(--primary-gauge-width) - 25px);
    background: radial-gradient(circle at 90% 80%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%); 
    width: 400px;
    height: 100px;

    margin-bottom: 33px;
    margin-left: auto;
    margin-right: auto;

}
.gauge-text {
    position: absolute;
    margin-left: 35px;
    text-align: left;
}
.gauge-text-right {
    position: absolute;
    right: -35px;
    text-align: right;
}
.gauge-label {
    position: absolute;
    top: 38px;
    right: 25px;
    font-size: 1.5em;
    font-family: "Orbitron";
    color: rgb(252, 200, 78);

}

.gauge-value {
    position: relative;
    top: 38px;
    right: -80px;
    font-size: 1.5rem;
    text-align: right;
    font-family: "Orbitron";
    color: rgb(252, 200, 78);
    clear:both;
    width: 60px;
    float: right;
}
.gauge-value-right {
    right: 150px;
}
.networkSpeed {
    position: absolute;
  bottom: 0;
  left: 0;
}